*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
} 

body{
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2)), url('../images/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.titlebar{
  text-align: center;
  background-color: #fff;
}

.titlebar a{
  color: red;
}

.titlebar a:hover{
  color: #00ff13;
}

.main{
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;

}

.main h2{
 color: #FF6600;
 text-align: center; 
 background-color: black;
}

.container{
  width: 16%;
  height: 120px;
  background: #01fefee8;
  margin: 20px;
  transition: 1s;
  border-radius: 10px;
}

.container:hover{
  transform: scale(1.3);
  background-color: ##00daf7;
  box-shadow: 2px 2px 2px #000;
}

@media screen and (max-width:1200px){
  .container{
    width: 25%;
  }
}
@media screen and (max-width:600px){
  .container{
    width: 90%; 
  }
}

ul{
  padding-top: 36px;
  text-align: center;
  list-style: none;
}

ul li a{
  color: black;
  display: block;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

ul li a:hover{
  color: white;
}

.container span{
  color: #ff0000;
}
